<h3 class="question"><%= facet_title %></h3>
<ul>
  <% facets.each do |facet| -%>
  <li><label for="<%= facet_type %>[]">
    <%= check_box_tag "#{facet_type}[]", facet.slug, nil %>
    <%= facet.name %>
  </label></li>
  <% end -%>
</ul>
