<% content_for :page_class do %>start-page<% end %>

<div class="article-container group">
  <article role="article" class="group">
    <div class="inner">

      <section class="intro">
        <div class="get-started-intro">
        </div>

        <p id="get-started" class="get-started">
        <%= link_to '#', :class => "big button" do %>
          Get started <span class="indicator"></span>
        <% end %>
        </p>
      </section>
    </div>
  </article>
  <div id="report-a-problem"></div>
</div>

<div id="related-items"></div>
