<% content_for :page_class do %>start-page<% end %>

<div class="article-container group">
  <article role="article" class="group">
    <div class="inner">

      <section class="intro">
        <div class="get-started-intro">
          <p>Search for publicly-backed finance or support for your business. </p>

          <p>Find out which schemes would be right for you by providing basic information about your business, including where it’s based, what kind of business it is etc.</p>

          <p>You can search for:</p>
          <ul>
            <li>finance -- eg loans, grants or investors</li>
            <li>business support -- eg mentoring, consultancy, initiatives</li>
          </ul>
        </div>

        <p id="get-started" class="get-started">
        <%= link_to sectors_path, :class => "big button" do %>
          Get started <span class="indicator"></span>
        <% end %>
        </p>
      </section>
    </div>
  </article>
  <div id="report-a-problem"></div>
</div>

<div id="related-items"></div>
