<% content_for :page_class do %>start-page<% end %>
<% content_for :head do %>
  <meta name="description" content="<%= @artefact['details']['description'] %>" />
<% end %>

<div class="article-container group">
  <article role="article" class="group">
    <div class="inner">

      <section class="intro">
        <div class="get-started-intro">
          <p>Find government-backed support and finance for business, including:</p>

          <ul>
            <li>grants</li>
            <li>finance and loans</li>
            <li>business support eg mentoring, consultancy</li>
            <li>funding for small and medium-sized businesses and start-ups</li>
          </ul>

          <p>Customise your search by location, size and activity.</p>
        </div>

        <p id="get-started" class="get-started">
        <%= link_to search_path, :class => "big button" do %>
          Get started <span class="indicator"></span>
        <% end %>
        </p>
      </section>
    </div>
  </article>
</div>

<% content_for :after_content do %>
  <div id="related-items"></div>
<% end %>
