<%= render :partial => 'completed_questions' %>

<div class="business-support-container group">
  <div class="results">
    <div class="results-wrapper">
      <% if @support_options.empty? %>
        <p>
          No business support schemes were found that match your search.
        </p>
        <p class="get-started">
          <%= link_to sectors_path, :class => "big button" do %>
            Start again <span class="indicator"></span>
          <% end %>
        </p>
      <% else %>
        <h2>Available support</h2>
        <ul class="results-list">
          <% @support_options.each do |support_option| %>
            <li>
              <%= link_to support_option.title, support_option.web_url %>
              <p><%= support_option.short_description %></p>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

