<%= render :partial => 'completed_questions' %>

<div class="business-support-container group">
  <div class="results">
    <div class="results-wrapper">
      <h2>Available support</h2>
      <ul class="results-list">
        <% @support_options.each do |support_option| %>
          <li>
            <a><%= support_option.title %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

