<%= render :partial => 'completed_questions' %>

<div class="business-support-container group">
  <div class="results">
    <div class="results-wrapper">
      <h2>Available support</h2>
      <ul class="results-list">
        <li>
          <a href="#">Dummy result 1</a>
          <p>Consultancy support for manufacturing businesses</p>
        </li>

        <li>
          <a href="#">Dummy result 2</a>
          <p>Provides guarantees to help small businesses access loans</p>
        </li>
      </ul>

    </div>
  </div>
</div>

